<!DOCTYPE html>
<html lang="en" class="">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>

	<meta name="description" content="The description of my page" />
</head>
<body>
	@RenderBody()

	<script src="~/Scripts/dist/build.js"></script>

</body>
</html>
